{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card green lighten-2" style="padding:18px;">
            <div class="valign-wrapper">
                <h1 class="center-align" style="width:100%;">
                    <i class="medium material-icons">bubble_chart</i>
                    symfony-blog
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <h3>nav</h3>
            </div>
            <div class="col s9">
                <div id="entries"></div>
            </div>
        </div>
    </div>
{% endblock %}